/** {
    padding: 0;
    margin: 0;
}
*/
body
{
   background-color: 	rgba(53, 186, 132, 0.75);
   padding: 0;
    margin: 0;
}



#space
{

	


	position: absolute;

	width: 800px;
	height: auto;
	left: 257px;

	border: .2px solid black;

	margin-top: 0px;
	background-color: white;
}
#heading
{
	color: rgb(0, 153, 255);
	font-size: 40px;
	font-family:  'Exo', sans-serif;
	text-align:  center;
	margin-top: 5px;
}

.info input[type]{
    width: 280px;
	height: 30px;
	border: 2px solid rgba(53, 186, 132, 0.75);
	border-radius: 1px;
	color: black;
	font-family: 'Exo', sans-serif;
	font-size: 12px;
	font-weight: 200;
	padding: 2px;
	margin-left: 85px;
	margin-top: 20px;

}
.infoArea{
	margin-left: 85px;
}
.infoHeading{
	color: rgba(53, 186, 132, 0.75);
	font-size: 20px;
	margin-left: 10px;

}
#objectiveText,#interestText,#skillText
{
	border: 2px solid rgba(53, 186, 132, 0.75);
}

#degree,#phone,#college{
	margin-left:  40px;
}

.projectName{
	width: 280px;
	height: 30px;
	border: 2px solid rgba(53, 186, 132, 0.75);
	border-radius: 1px;
	color: black;
	font-family: 'Exo', sans-serif;
	font-size: 12px;
	font-weight: 200;
	padding: 2px;

}
.projectDetail
{

	border: 2px solid rgba(53, 186, 132, 0.75);
	border-radius: 1px;
	color: black;
	font-family: 'Exo', sans-serif;
	font-size: 12px;
	font-weight: 200;
	padding: 2px;

	margin-top: 10px;

}
.newProjectHeading{
	color: rgba(53, 186, 132, 0.75);
}
#addNew{
	width: 130px;
	height: 27px;
	background-color: rgba(53, 186, 132, 0.75);
    color: white;
	font-size: 14px;
	font-weight: 40;
	padding: 2px;
	margin-top: 10px;
	margin-left: 20px;
	position: absolute;
	left: 70px;
}

#logout{

	position: absolute;
	background-color: white;
	width: 120px;
	height: 30px;
	right: 30px;
	top: 20px;
}

.photo
{
	position: absolute;
	left: 80px;
}

.result{
	width: 160px;
	height: 40px;
	background-color: rgba(53, 186, 132, 0.75);
    color: white;
	font-size: 20px;
	font-weight: 40;
	padding: 2px;

	margin-left: 40px;


}
#saveResume{
	position: absolute;
	left: 140px;
}
#download{
	position: absolute;
	left: 340px;
}

.newProjectMargin
{
	margin-left: 85px;
}
input.ng-invalid {
  border: 1px solid red;
}
